*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, main{
    height: 100%;
    width: 100%;
}
.stop-scrolling{
    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

.sticky-parent{
    height: 500vh;
}
.sticky{
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
}
.scroll-section{
    position: absolute;
    top: 0;
    height: 100%;
    width: 500vw;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}
/* page0 */

.page0{
    background-color: black;
}


.page0 header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    color: white;
}
.page0 header ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 50px;
}


/* page1 */

/* .page1 {
    position: relative;
    background: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 > input{
    appearance: none;
}
.page1 > .dots{
    position: absolute;
    bottom: 75px;
    gap: 6px;
    display: flex;
}
.page1 > .dots label{
    width: 20px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.5;
    border: 2px solid #222;
    z-index: 1000;
}
.page1 input:nth-child(1):checked ~ .dots label:nth-child(1),
.page1 input:nth-child(2):checked ~ .dots label:nth-child(2),
.page1 input:nth-child(3):checked ~ .dots label:nth-child(3)
{
    opacity: 1;
}
.page1 >.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-inline: auto;

}
.page1 > .slider > .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
    clip-path: circle(0% at 0% 50%);
    transition: 1.5s;
    transition-delay: 0s;
    margin-inline: auto;


}
.page1 > .slider .slide:nth-child(even){
    clip-path: circle(0% at 100% 50%);

}
.page1 input:nth-child(1):checked ~ .slider .slide:nth-child(1),
.page1 input:nth-child(2):checked ~ .slider .slide:nth-child(2),
.page1 input:nth-child(3):checked ~ .slider .slide:nth-child(3){
    clip-path: circle(150% at 50% 50%);
    transition-delay: 1s;
} */

.page1{
    position: relative;
    height: 100vh;
    background: rgba(0,0,0,0.5);
}
.page1 .slider{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.page1 .slide{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.page1 #slide-1{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.page1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1 .slide-number {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0.25em;
}
.page1 .postfix span{
    padding: 0 0.25em;
}
.page1 .slide-name{
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.page1 .slide-year{
    position: absolute;
    top: 55%;
    right: 20%;
    transform: translate(-50%, -50%);
}
.page1 .slide-name, .slide-number, .slide-year{
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 30px, 0 30px);
    text-transform: uppercase;
}
.page1 .prefix, .names, .years{
    position: relative;
    top: 0;
}

@media(max-width: 900px){
    .slide-name{
        left: 50%;
    }
    .slide-year{
        right: 10%;
    }
}

.horizontal-scroll{
    position: relative;

    width: 100%;
    display:flex;
    flex-direction: row;
}
/* page2 */

.page2{
    position: relative;
    background-color: #000;
    overflow: auto;
    width: 100vw;
    overflow-y: hidden;

}
.page2 .container{
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}
.page2 .container .about{
    position: relative;
    height: 80vh;
    /* width: 50%; */
    background-color: #fef9f9;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin-inline: auto;
    padding-left: 5%;
    padding-right: 10%;
}

.page2 .container .about h3{
    font-size: 1rem;
    color: #4c6945;
    margin-bottom: 0.25rem;
    font-weight: 200;
}
.page2 .container .about h1{
    color: green;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.page2 .container .about p{
    margin-bottom: 1rem;
}
.page2 .container .about button{
    padding: 10px 50px;
    background-color: green;
    color: white;
    font-weight: 600;
}
.page2 .container .box{
    /* width: 50%; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(0) !important;
}
.page2 .container .box .images{
    position: relative;
    height: 300px;
    width: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.page2 .container .box .images span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--i) * 90deg)) translateZ(100px);
    background-color: #fff;

}
.page2 .container .box .images span::before{
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}
.page2 .container .box .images span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0002)
}

.page2 .container .about p span{
    position: relative;
    color: #000;
}
.page2 .container .about p span.activep{
    color: green;
}
.page2 .container .about h1 span.activeh1{
    color: black;
}

/* page 3 */

.page3{
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 10vh;
}
.page3 .container{
    position: relative;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 90%;
    margin-inline: auto;
    transform-style: preserve-3d;
    margin-bottom: 10%;
}
.page3 .container .box{
    position: relative;
    height: 370px;
    background: #0006;
    border-radius: 20px;
    transform-style: preserve-3d;

}
.page3 .container .box .name{
    position:absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}
.page3 .container .box:hover .name{
    opacity: 1;
    top: 40px;
    transform: translate3d(0%, 0%, 75px);

}
.page3 .container .box .buy{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform-style: preserve-3d;
    color: #fff;
    background-color: #0001;
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(-50%, -50%, 80px);
    width: 150px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
}
.page3 .container .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0);
    max-width: 300px;
    transition: 0.5s;
}
.page3 .container .box:hover .product{
    transform: translate3d(-50%, -50%, 100px);
}
#box1{
    background-color: #BBB4C4;
}
#box2{
    background-color: #DFB2AF;
}
#box3{
    background-color: #D6B273;
}
#box4{
    background-color: #9EC1B0;
}
#box5{
    background-color: #157874;
}
#box6{
    background-color: #D8A380;
}
#box7{
    background-color: #6781AA;
}
#box8{
    background-color: #C0D5EE;
}
/* page4 */

.page4 {
    width: 100vw;
}
.page4 .container{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-bottom: 10%;
}
.page4 .container .image{
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 56%;
}
.page4 .container .image img{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
}
.page4 .container .section{
    position:relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page4 .container .section .contain{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.page4 .container .section .contain h1{
    font-size: 2.5rem;
    color: #00662D;
    font-weight: 600;
}
.page4 .container .section .contain p{
    font-size: 1.2rem;
}
.page4 .container .section .contain button{
    padding: 0.7rem 4rem;
    border: 0px;
    border-radius: 5px;
    background-color: #00662D;
    color:  #fff;
    font-weight: 600;
}

.page6{
    width: 100vw;
}
.page6 .container{
    /* height: 100vh; */
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.page6 .container .image{
    height: 100vh;
}
.page6 .container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page6 .container .section{
    position:relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page6 .container .section .contain{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.page6 .container .section .contain h1{
    font-size: 2.5rem;
    color: #00662D;
    font-weight: 600;
}
.page6 .container .section .contain p{
    font-size: 1.2rem;
}
.page6 .container .section .contain button{
    padding: 0.7rem 4rem;
    border: 0px;
    border-radius: 5px;
    background-color: #00662D;
    color:  #fff;
    font-weight: 600;
}


/* page 8 */

.page8{
    height: 70vh;
    width: 100vw;
}

.availableoncontainer{
    height: 30vh;
    margin-top: 65px;
}

.certificationbycontainer{
    height: 20vh;

}
.certificationbycontainer .heading{
    margin-bottom: 40px;
}

.page8 .container h2{
    text-align: center;
    font-size: xx-large;
    color: green;
}
.page8 a img{
    width: 200px;
}
.websites,.organisations{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:768px) {
    .page8 a img{
        width: 150px;
    }
}


/* page9 */

.page9{
    width: 100vw;
    margin-bottom: 50px;
}

.page9 .container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
}
.page9 .container .left{
    position: sticky;
    top: 0;
}
.page9 .container .right{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.page9 .container .right h5{
    color: #00662d;
    letter-spacing: 0.1em;
    opacity: 0.6;
    margin-top: 50px;
}
.page9 .container .right h2{
    color: #00662d;
    font-size: 45px;
    margin: 10px 0;
}
.page9 .container .right .section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.page9 .container .right .section .des{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.page9 .container .right .section .des .content{
    width: 70%;
}

.page9 .container .right .section .des .buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.page9 .container .right .section .des .buttons .quantity{
    margin-right: 10px;
}

.page9 .container .right .section .des .buttons .add-to-cart:hover{
    text-decoration: underline;
}

.page9 .container .right .section .des .price{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    right: 0;
    font-size: 12px;
    width: 30%;
}

.page9 .container .right .section .des .price .new{
    color: orange;
}
.page9 .container .right .section .des .price .old{
    text-decoration: line-through;
}

.page9 .container .right .add-set{
    background-color: #00662d;
    color: white;
    margin-top: 30px;
    padding: 15px;
    font-weight: 700;
    width: 100%;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width:1015px) {
    .container .left img{
        width: 350px;
    }
    .page9 .container .right h2{
        font-size: 30px;
    }
    .page9 .container .right .section .des .buttons{
        margin-top: 30px;
        flex-direction: column;
    }
    .page9 .container .right .section .des .buttons .add-to-cart{
        margin-top: 10px;
        flex-direction: column;
    }
}

@media screen and (max-width:425px){
    .container .left img{
        width: 366px;
        height: 366px;
    }
    .page9 .container{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .page9 .container .right h2{
        font-size: 30px;
    }
    .page9 .container .left{
        position: relative;
    }
}




/* page9-1 */

.page9-1{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.page9-1 .flex-Container{
    display: flex;
    height: 25vh;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    width: 100%;
    background-color: #f3f3f3;
    flex-shrink: 0;

}

.page9-1 .flex-Container .guarantee{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #026a2f;
    font-weight: 100;
}

.page9-1 .flex-Container .guarantee .svg-container{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.page9-1 .flex-Container .guarantee .svg-container svg{
    width: 20px;  
}
.page9-1 .flex-Container .guarantee h5{
    color: #03813a;
    opacity: 0.6;
}



/* page10 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.page10 footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #00662d;
}
.page10 footer .logo img{
    width: 173px;
}
.page10 footer .logo{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.page10 footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}
.page10 footer .container .sec h2{
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom:15px ;
}

.page10 footer .container .sec  p{
    color: white;
}
.page10 .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    gap: 10px;
}
.page10 .sci li{
    list-style: none;
}

.page10 .sci li a{
    display:inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.page10 .sci li a:hover{
    background-color: #002d14;
}

.page10 .sci li a svg{
    color: white;
}
.page10 .quicklinks{
    position: relative;
}
.page10 .quicklinks li{
    list-style: none;
}

.page10 .quicklinks li a{
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.page10 .quicklinks li a:hover{
    text-decoration: underline;
}
.page10 .info{
    position: relative;
}
.page10 .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.page10 .info li span:nth-child(1){
    color: white;
}
.page10 .info li span{
    color: white;
}
.page10 .info a{
    color: white;
    text-decoration: none;
}
.page10 .info a:hover{
    text-decoration: underline;
}

.page10 .copyrightText{
    width: 100%;
    padding: 8px 100px;
    background-color: #00662d;
    text-align:left;
    color: white;
}

@media (max-width:991px) {
    .page10 footer{
        padding: 40px;
    }
    .page10 footer .container{
        grid-template-columns: repeat(2,1fr);
    }
    .page10 .copyrightText{
        padding: 8px 40px;
    }
}

@media (max-width:768px){
    .page10 footer .container{
        grid-template-columns: repeat(1,1fr);
    }
}

.page10 .copyrightText a{
    color: white;
    text-decoration: none;
}
.page10 .copyrightText a:hover{
    text-decoration: underline;
}


/* btn */

.btn{
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 0.1em;
    transition: 1s;
    overflow: hidden;
}

.btn:hover{
    background: #00662D;
    box-shadow: 0 0 25px #00662D,
    0 0 100px #00662D,
    0 0 150px #00662D;
}
.btn span{
    display: inline-block;
    transition: transform 0.5s;
    text-shadow: 0 35px white;
}

.btn:hover span.hover{
    transform: translateY(-35px);
}
.btn span.hover{
    transform: translateY(-35px);
}

/* side bar */
.side-container{
    position: fixed;
    left: -120px;
    top: 50%;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}

.side-container a{
    text-decoration: none;
    color: #000;
}

.side-container svg{
    width: 15px;
    transform: rotate(-90deg);
    margin: 5px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}